@{
    ViewData["Title"] = "Área do Cliente";
}

<p>Esta é sua página inicial como cliente.</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Chatbot" asp-action="Index">Chatbot</a>

<p>Visualize seus chamados</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Chamados" asp-action="ExibirChamadosClientes">Meus Chamados</a>
