@{
    ViewData["Title"] = "Área do Técnico";
}

<p>Esta é sua página inicial como técnico.</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Chamados" asp-action="ExibirChamadosTecnicos">Exibir chamados</a>

<p>Relátorios</p>
<a asp-controller="Relatorios" asp-action="RelatorioChamadoEmPdf" class="btn btn-danger">
    <i class="bi bi-file-earmark-pdf"></i> Gerar Relatório PDF
</a>
