@{
    ViewData["Title"] = "Área do Administrador";
}

<p>Esta é sua página inicial como administrador.</p>

<p>Gerencie Usuários</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Gerenciar Usuários</a>

<p>Gerencie as permissões</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Permissoes" asp-action="Index">Gerenciar Permissões (Roles)</a>