@{
    ViewData["Title"] = "Área do Técnico";
}

<p>Esta é sua página inicial como técnico.</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Chamados" asp-action="ExibirChamadosTecnicos">Exibir chamados</a>

